<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class = "top">
        <center><h1>Welcome to my Gallery</h1></center>
    </div>
    <form action="{% url 'create' %}" method="POST">
        {% for i in home_key.all %}
        {% if i.pic %}
        <center><a href="{% url 'detail' i.id %}"><img src ="{{i.pic.url}}" style="width: 400px;"><br></a></center>
        {% endif %}
        {% endfor %}
    </form>
    <center><a href="{% url 'create' %}">생성하기</a></center>
</body>
</html>